<a href="https://colab.research.google.com/github/ItsSHALINISuresh/ML-in-Business/blob/main/MIS710%20Assignment/MIS710_A1_Template_T2_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MIS710 Machine Learning in Business - Assignment 1

**Student Name:** SHALINI SURESH

**Student ID:** S223019007

<a id = "cell_executivesummary"></a>
## 1. Business understandings, problem, solution and recommendations

#### NOTE: all the instructions and hints given in this template should be removed from your final submission. (Including this line)

**Aim:** To clearly articulate your understanding of the bussiness problem to management.

_Use this section to briefly include the business understandings and the business problem to address, the aim of this project and recommendations for VicCrashAnalytics.

<a id = "cell_exploration"></a>
# 2. Data understanding, preparation, explorations and visualisation

#### NOTE: You can create multiple Markdown and Code cells to present your work.

**Aim:** To demonstrate your understanding of data and report any insights emerging from data analysis

This section can be used for:
* Preparing (cleansing) for further processing.
* Finding meaningful patterns in the data set as relevant to the case study and the problem.
* Visualising variables related to the problem.

This section may include:
* Selection of relevant data features.
* Selection of an attribute as label.
* Approach to handling missing values (if any).
* Transformations on the dataset (can be any necessary modifications to the data - string value or categorial variables to numerical, any numeric normalizations, or any type conversions such as nominal to numeric and the similar).
* Univariate/Bivariate/Multivariate analyses (e.g., using visualizations etc.).

Make sure your visualizations are accompanied by relevant discussions of the insights the analyses and visualizations will/should lead to.

## 2.1 Import the Libraries

In [6]:
# Load libraries for data manipulation,analysis and for calculation with arrays
import pandas as pd
import numpy as np

#Load libraries for data visualisation
import matplotlib.pyplot as plt
import seaborn as sns

## 2.2 Load the dataset

In [14]:
# Load data using github
url = 'https://raw.githubusercontent.com/ItsSHALINISuresh/ML-in-Business/main/MIS710%20Assignment/Blackspot.csv'

# Load data
df = pd.read_csv(url)

#explore the dataset
print(df)

print('Sample size:', df.shape[0])
print('Number of columns:', df.shape[1])

        ID               EZI_ROAD_NAME              ROAD_NAME ROAD_TYPE  \
0     3699                  GROVE ROAD                  GROVE      ROAD
1      576          BACCHUS MARSH ROAD          BACCHUS MARSH      ROAD
2      758                GRUBBED ROAD                GRUBBED      ROAD
3       89                VIGOR STREET                  VIGOR    STREET
4     8773                FAIRMAN ROAD                FAIRMAN      ROAD
...    ...                         ...                    ...       ...
5321   256  WARBURTON-WOODS POINT ROAD  WARBURTON-WOODS POINT      ROAD
5322  5182             GLENELG HIGHWAY                GLENELG   HIGHWAY
5323  4196          CAPE PATERSON ROAD          CAPE PATERSON      ROAD
5324  4352                MCPHANS ROAD                MCPHANS      ROAD
5325   223                 ROGERS ROAD                 ROGERS      ROAD

      AGE_LESS_THAN_15YRS_PCNT  AGE_15_24YRS_PCNT  AGE_25_44YRS_PCNT  \
0                     0.121988           0.058735           0.228916
1                     0.215894           0.141722           0.312583
2                     0.185304           0.102236           0.194888
3                     0.167763           0.062500           0.286184
4                     0.201238           0.108359           0.204334
...                        ...                ...                ...
5321                  0.152047           0.087719           0.198830
5322                  0.142119           0.090439           0.209302
5323                  0.163701           0.106762           0.170819
5324                  0.155039           0.173127           0.129199
5325                  0.197647           0.129412           0.200000

      AGE_45_64YRS_PCNT  AGE_18YRS_OVER_PCNT  AGE_65YRS_OVER_PCNT  ...  \
0              0.269578             0.853916             0.320783  ...
1              0.201325             0.741722             0.128477  ...
2              0.348243             0.757188             0.169329  ...
3              0.322368             0.815789             0.161184  ...
4              0.340557             0.761610             0.145511  ...
...                 ...                  ...                  ...  ...
5321           0.385965             0.812865             0.175439  ...
5322           0.328165             0.816537             0.229974  ...
5323           0.352313             0.779359             0.206406  ...
5324           0.310078             0.806202             0.232558  ...
5325           0.301176             0.764706             0.171765  ...

      Parkland%  Primary_Production%  Lq_Licenses      Intersection  \
0      0.358321             0.000000         14.0  non-Intersection
1      0.000000             1.000000          0.0      Intersection
2      1.000000             0.000000          0.0  non-Intersection
3      0.036599             0.000000          0.0  non-Intersection
4      0.000000             1.000000          0.0  non-Intersection
...         ...                  ...          ...               ...
5321   1.000000             0.000000          0.0  non-Intersection
5322   0.000000             0.155542          0.0  non-Intersection
5323   0.000000             1.000000          0.0  non-Intersection
5324   0.000000             1.000000          0.0  non-Intersection
5325   0.000000             1.000000          0.0  non-Intersection

      Supermarket  primary_school  secondary_school  km_post  traffic_signal  \
0               0               0                 0        0               0
1               0               0                 0        1               0
2               0               0                 0        0               0
3               0               0                 0        0               0
4               0               0                 0        0               0
...           ...             ...               ...      ...             ...
5321            0               0                 0        1               0
5322            0               0                 0        0               0
5323            0               0                 0        1               0
5324            0               0                 0        0               0
5325            0               0                 0        0               0

          Blackspot
0         Blackspot
1         Blackspot
2     non-Blackspot
3     non-Blackspot
4     non-Blackspot
...             ...
5321  non-Blackspot
5322  non-Blackspot
5323  non-Blackspot
5324  non-Blackspot
5325  non-Blackspot

[5326 rows x 36 columns]
Sample size: 5326
Number of columns: 36

In [15]:
# Prints data type of all the columns
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5326 entries, 0 to 5325
Data columns (total 36 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               5326 non-null   int64
 1   EZI_ROAD_NAME                    5326 non-null   object
 2   ROAD_NAME                        5326 non-null   object
 3   ROAD_TYPE                        5326 non-null   object
 4   AGE_LESS_THAN_15YRS_PCNT         5326 non-null   float64
 5   AGE_15_24YRS_PCNT                5326 non-null   float64
 6   AGE_25_44YRS_PCNT                5326 non-null   float64
 7   AGE_45_64YRS_PCNT                5326 non-null   float64
 8   AGE_18YRS_OVER_PCNT              5326 non-null   float64
 9   AGE_65YRS_OVER_PCNT              5317 non-null   float64
 10  SEO_PERSONS_PCNT                 5326 non-null   float64
 11  FC_COUPLE_NO_CHILDREN_PCNT       5326 non-null   float64
 12  FC_COUPLE_WITH_CHILDREN_PCNT     5326 non-null   float64
 13  FC_SINGLE_PARENT                 5326 non-null   float64
 14  CARS_ZERO_HH_PCNT                5326 non-null   float64
 15  CARS_ONE_HH_PCNT                 5326 non-null   float64
 16  CARS_TWO_OR_MORE_HH_PCNT         5326 non-null   float64
 17  DWELLING_SEP_HOUSE_PCNT          5326 non-null   float64
 18  DWELLING_SEMID_RO_OR_TCE_H_TH_P  5326 non-null   float64
 19  DWELLING_FLAT_UNIT_APART_PCNT    5326 non-null   float64
 20  OCCUPATION_WHITE_COLLAR_PCNT     5326 non-null   float64
 21  OCCUPATION_BLUE_COLLAR_PCNT      5326 non-null   float64
 22  SEIFA                            5326 non-null   int64
 23  Commercial%                      5326 non-null   float64
 24  Industrial%                      5326 non-null   float64
 25  Residential%                     5326 non-null   float64
 26  Parkland%                        5326 non-null   float64
 27  Primary_Production%              5326 non-null   float64
 28  Lq_Licenses                      5320 non-null   float64
 29  Intersection                     5326 non-null   object
 30  Supermarket                      5326 non-null   int64
 31  primary_school                   5326 non-null   int64
 32  secondary_school                 5326 non-null   int64
 33  km_post                          5326 non-null   int64
 34  traffic_signal                   5326 non-null   int64
 35  Blackspot                        5326 non-null   object
dtypes: float64(24), int64(7), object(5)
memory usage: 1.5+ MB
None
(5326, 36)

## 2.3 Handling Missing data

In [16]:
# Inspecting missing data
print(df.isnull().sum().sort_values(ascending=0))

AGE_65YRS_OVER_PCNT                9
Lq_Licenses                        6
Primary_Production%                0
OCCUPATION_BLUE_COLLAR_PCNT        0
SEIFA                              0
Commercial%                        0
Industrial%                        0
Residential%                       0
Parkland%                          0
ID                                 0
DWELLING_FLAT_UNIT_APART_PCNT      0
Intersection                       0
Supermarket                        0
primary_school                     0
secondary_school                   0
km_post                            0
traffic_signal                     0
OCCUPATION_WHITE_COLLAR_PCNT       0
DWELLING_SEMID_RO_OR_TCE_H_TH_P    0
EZI_ROAD_NAME                      0
AGE_18YRS_OVER_PCNT                0
ROAD_NAME                          0
ROAD_TYPE                          0
AGE_LESS_THAN_15YRS_PCNT           0
AGE_15_24YRS_PCNT                  0
AGE_25_44YRS_PCNT                  0
AGE_45_64YRS_PCNT                  0
SEO_PERSONS_PCNT                   0
DWELLING_SEP_HOUSE_PCNT            0
FC_COUPLE_NO_CHILDREN_PCNT         0
FC_COUPLE_WITH_CHILDREN_PCNT       0
FC_SINGLE_PARENT                   0
CARS_ZERO_HH_PCNT                  0
CARS_ONE_HH_PCNT                   0
CARS_TWO_OR_MORE_HH_PCNT           0
Blackspot                          0
dtype: int64

###2.3.1 Univariate Analysis

In [17]:
#overview of numeric data
df.describe()

,ID,AGE_LESS_THAN_15YRS_PCNT,AGE_15_24YRS_PCNT,AGE_25_44YRS_PCNT,AGE_45_64YRS_PCNT,AGE_18YRS_OVER_PCNT,AGE_65YRS_OVER_PCNT,SEO_PERSONS_PCNT,FC_COUPLE_NO_CHILDREN_PCNT,FC_COUPLE_WITH_CHILDREN_PCNT,...,Industrial%,Residential%,Parkland%,Primary_Production%,Lq_Licenses,Supermarket,primary_school,secondary_school,km_post,traffic_signal
count,5326.000000,5326.000000,5326.000000,5326.000000,5326.000000,5326.000000,5317.000000,5326.000000,5326.000000,5326.000000,...,5326.000000,5326.000000,5326.000000,5326.000000,5320.000000,5326.000000,5326.000000,5326.000000,5326.000000,5326.000000
mean,4996.381149,0.175456,0.099507,0.202988,0.306965,0.774056,0.202530,0.884964,0.443514,0.401426,...,0.009862,0.393237,0.137413,0.375253,0.378008,0.012580,0.025535,0.004506,0.127488,0.022343
std,2885.736141,0.050574,0.030945,0.054621,0.067690,0.102008,0.105217,0.107473,0.105680,0.114858,...,0.070263,0.413405,0.277777,0.431760,1.550966,0.111462,0.157758,0.066983,0.333550,0.147811
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2477.000000,0.144847,0.079897,0.172337,0.274064,0.751515,0.149367,0.870588,0.387283,0.342105,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5020.500000,0.177419,0.102041,0.197248,0.317073,0.778723,0.181102,0.896985,0.450000,0.406977,...,0.000000,0.226550,0.000000,0.081297,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7478.750000,0.205817,0.123007,0.234266,0.348189,0.816156,0.237288,0.927536,0.500000,0.477124,...,0.000000,0.832911,0.114782,0.962690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9999.000000,0.329241,0.198113,0.608696,0.490798,1.000000,1.000000,1.000000,1.088235,0.785714,...,1.000000,1.000000,1.000000,1.000000,26.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
#Fill in missing numerical data with mean and categorical data with mode
df['AGE_65YRS_OVER_PCNT'].fillna(df['AGE_65YRS_OVER_PCNT'].mean(),inplace=True)
df['Lq_Licenses'].fillna(df['Lq_Licenses'].mean(),inplace=True)

In [22]:
# verifying about the missings data
print(df.isnull().sum().sort_values(ascending=0))

ID                                 0
EZI_ROAD_NAME                      0
OCCUPATION_WHITE_COLLAR_PCNT       0
OCCUPATION_BLUE_COLLAR_PCNT        0
SEIFA                              0
Commercial%                        0
Industrial%                        0
Residential%                       0
Parkland%                          0
Primary_Production%                0
Lq_Licenses                        0
Intersection                       0
Supermarket                        0
primary_school                     0
secondary_school                   0
km_post                            0
traffic_signal                     0
DWELLING_FLAT_UNIT_APART_PCNT      0
DWELLING_SEMID_RO_OR_TCE_H_TH_P    0
DWELLING_SEP_HOUSE_PCNT            0
AGE_18YRS_OVER_PCNT                0
ROAD_NAME                          0
ROAD_TYPE                          0
AGE_LESS_THAN_15YRS_PCNT           0
AGE_15_24YRS_PCNT                  0
AGE_25_44YRS_PCNT                  0
AGE_45_64YRS_PCNT                  0
AGE_65YRS_OVER_PCNT                0
CARS_TWO_OR_MORE_HH_PCNT           0
SEO_PERSONS_PCNT                   0
FC_COUPLE_NO_CHILDREN_PCNT         0
FC_COUPLE_WITH_CHILDREN_PCNT       0
FC_SINGLE_PARENT                   0
CARS_ZERO_HH_PCNT                  0
CARS_ONE_HH_PCNT                   0
Blackspot                          0
dtype: int64

<a id = "cell_modeling"></a>
#3. Machine learning model development

#### NOTE: You can create multiple Markdown and Code cells to present your work.
**Aim:** To demonstrate your understanding in AI modeling.

_Use this section to show and discuss the process/processes as relevant to the case study, key steps to run and complete the experiment and details of models._  

This section may include:
* How to split dataset.
* How to initiate machine learning model and fit training data.
* How to use trained model to predict labels for training and testing dataset.

In [ ]:
# Code

<a id = "cell_Evaluation"></a>
## 4. Model evaluation                                                                                                                       

#### NOTE: You can create multiple Markdown and Code cells to present your work.
**Aim:** To demonstrate your understanding in model execution and evaluation.

_Use this section to report your evaluation procedures and results.  Discuss/interpret the results of your experiments, discuss/compare the performance of the model(s), any steps you have taken to improve the performance of your model(s)._

In [ ]:
# Code

## 5. Competition (optional)

#### NOTE: You can create multiple Markdown and Code cells to present your work.
**Aim:** To (optionally) participate in the competetion.

_Use this section to report the deployment of the model on the unseen dataset. To ensure that the training and deployment datasets have similar features, it is important to preprocess the data in a consistent manner. This includes applying the same data preprocessing steps to both the training and deployment datasets. For example, if you are scaling the features in the training dataset, you should also scale the features in the deployment dataset using the same scaling method and parameters._

_Apply the trained model to predict the label for the deployment dataset and submit the result (inspection dataframe) as a csv file with you assessment._

In [ ]:
import pandas as pd

In [ ]:
#read the Blackspot_Competition.csv dataset

In [ ]:
# Apply data transformation to the deployment data,
# ensure number of features and transformation of X and X_deploy are similar

# Apply trained model to X_deploy
# y_deploy = model(X_deploy)

#
# join unseen y_deploy with predicted value into a data frame
inspection = pd.DataFrame({'Predicted':y_deploy})

# join X_test with the new dataframe
inspection = pd.concat([X_deploy, inspection], axis=1)

# Submit this results.csv file to join the competition
inspection.to_csv('results.csv')